extends layout

block content
  .container
    .welcome-section
      .icon-header 👤
      h1.title Área de Usuário
      p.subtitle Bem-vindo ao portal do usuário
      
      .content-box
        p ✓ Você está logado como Usuário
        p ✓ Aqui você pode acessar seus dados e funcionalidades disponíveis
      
      .buttons-container
        a.btn.btn-back(href="/")
          span.btn-icon ⬅️
          span.btn-text Voltar para Início
